.img > img {
    width: 100%;
}

.product-details {
    padding: 3.5rem 0;
}

.product-details h5 {
    margin-bottom: .75rem;
}

.product-details .price {
    font-size: 1.25rem;
    font-weight: 500;
}

.product-details .badge {
    border-radius: .15rem;
    padding: .45rem .75rem;
    font-size: .7rem;
}

.product-details .go-back {
    display: inline-block;
    border: 2px solid #dc3545;
    background-color: #fff;
    width: 15%;
    padding: 8px 0;
    margin-top: 2rem;
    border-radius: .25rem 0 0 .25rem;
    color: #dc3545;
    cursor: pointer;
    text-align: center;
}

.product-details .go-back:focus {
    outline: none;
}

.product-details .go-back:hover {
    background-color: rgb(240, 240, 240);
    text-decoration: none;
}

.product-details .btn-add-to-cart {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 85%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-top: 2rem;
    margin-bottom: 1.75rem;
    margin-left: -.25rem;
}

.product-details .btn-add-to-cart:hover {
    text-decoration: none;
    background-color: #cf2a3b;
    cursor: pointer;
}

.product-details .size {
    font-size: .95rem;
    font-style: italic;
    margin-bottom: .5rem;
    font-weight: bold;
}

.bd-t {
    border-top: 1px solid #ccc;
}


.product-details .info label {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

.product-details .description span {
    font-style: italic;
    line-height: 1.5rem;
}

.product-details ul {
    padding-left: 18px;
}

.product-details ul li {
    padding-bottom: 5px;
}

.counter {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #ffffff;
    color: #000000;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #000000;
    user-select: none;
}

@media (max-width: 768px) {
    .product-details {
        padding: 0;
    }

    .product-details .product-name {
        margin-top: .75rem;
    }

    .product-details .go-back {
        margin-top: 1rem;
    }

    .product-details .btn-add-to-cart {
        margin-top: 1rem;
    }
}